
/*Registrar*/
body{
    background: #B6F2F2;
    align-items: center;
    
}

.image-13{
    margin-top: 8px;
    margin-left: 8px;
}
.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .image-button img {
    width: 69px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 69px;
  }

  .button-container {
    margin-left: 10px;
    
    
  }
  
  .arrow-button {
    width: 69px;
    height: 69px;
    padding: 0;
    background-color: transparent;
    transform: translate(20%, 40%);
    border: none;
    cursor: pointer;
    display: flex;
    
    align-items: center;
    justify-content: center;
    pointer-events: none; /* Desactivar eventos de puntero en el botón */
  }
  
  .button-content {
    width: 100%;
    height: 100%;
  }
  
  .arrow-button img {
    width: 100%;
    height: auto;
    pointer-events: auto; /* Activar eventos de puntero en la imagen */
  }

  .precios{
    display: flex;

    flex-direction: column;
    flex-shrink: 0;

    color: #4C4949;
    text-align: center;
    font-family: Inter;
    font-size: 51.2px;
    font-style: normal;
    font-weight: 560;
    line-height: normal;
    margin-top: -57.6px;
    margin-bottom: 18.4px;
}

.container-bco3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1203.2px;
    height: 744px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #FFF;
    border-color: transparent;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.costServ{
    display: flex;
    margin-left: 64.8px;

    flex-direction: column;
    flex-shrink: 0;

    color: #4C4949;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 560;
    line-height: normal;
}

.linea1{
    width: 1102.4px;
    height: 1.6px;

    background: #000;
    align-self: center;
}

.conce{
    display: flexbox;
    white-space: nowrap;
    flex-direction: row;
    flex-shrink: 0;

    color: #4C4949;
    
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 560;
    line-height: normal;
    margin-left: 155px;
    box-sizing: content-box;
}

.cuota{
    margin-left: 600px;
    margin-top: -70px;
}

.conceptos{
    display: flex;

    flex-direction: column;
    flex-shrink: 0;

    color: #4C4949;

    font-family: Inter;
    font-size: 25.6px;
    font-style: normal;
    font-weight: 560;
    line-height: normal;
    margin-left: 177.6px;
}

.linea2{
    width: 1092.8px;
    height: .8px;

    background: #000;
    align-self: center;
}

.image-7Pr{
    
    position: absolute;
    flex-shrink: 0;
    z-index: 1000;
    margin-top: -220px;
    background-attachment: fixed;
    transform: translate(-15%, 0%);
}

.image-14Pr{
    position: absolute;
    flex-shrink: 0;
    z-index: 1000;
    margin-top: -220px;
    background-attachment: fixed;
    transform: translate(210%, -31%);
}




.futer{
    display: flex;

    flex-direction: column;
    flex-shrink: 0;

    color: #4C4949;
    text-align: left;
    font-family: Inter;
    font-size: 28.8px;
    font-style: normal;
    font-weight: 560;
    line-height: normal;
    margin-left: 180px;
}

.tel{
    margin-left: 460.8px;
    margin-top: -65px;
}

.corr{
    margin-left: 800px;
    margin-top: -65px;
}